{{define "home"}}
<div class="jumbotron">
<h2>Welcome to Default Project</h2>

This is a default project created in Go using <a href="http://goji.io/">Goji</a> web microframework, <a href="http://www.gorillatoolkit.org/pkg/sessions">Gorilla web toolkit sessions</a> and <a href="http://labix.org/mgo">mgo</a>
<br>
<br>
It provides essentials that most web applications need - MVC pattern and user authorisation that can be easily extended.
<br>
<br>
Project's source code can be found here:
<br>
<br>
<div class="well">
	<a href="https://github.com/elcct/defaultproject">https://github.com/elcct/defaultproject</a>
</div>
</div>
{{end}}