html {
	position: relative;
	min-height: 100%;
	padding-top: 70px;
}

body {
	margin-bottom: 60px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {		
	border: 2px solid #62c462;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {		
	border: 2px solid #ee5f5b;
}

.parsley-errors-list {
	margin: 8px 0 3px 0;
	padding: 0;
	list-style-type: none;
	line-height: 0.9em;
	font-size: 0.9em;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;

	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in-;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.parsley-errors-list.filled {
	opacity: 1;
}

.github {
	margin-bottom: -5px;
}